@inject UserManager<User> UserManager;
<ul class="nav navbar-nav navbar-right">
    @{
        var username = UserManager.GetUserName(User);
        if (!string.IsNullOrEmpty(username))
        {
            <li>
                <a href="#">@username</a>

            </li>
            <li>
                <a asp-controller="Auth" asp-action="Logout">登出</a>

            </li>
        }
    }

</ul>