@inject UserManager<User> UserManager;
<span class="navbar-text">
    @{
        var username = UserManager.GetUserName(User);
        if (!string.IsNullOrEmpty(username))
        {
            <a href="#">@username</a>
            <span>&nbsp;&nbsp;</span>
            <a asp-controller="Auth" asp-action="Logout">登出</a>
        }
    }
</span>