@{
	Layout = "_Layout";
	ViewData["Title"] = "资讯管理";

}
<div class="row">
	<div class="col col-md-auto">
		<ul class="nav nav-pills flex-column">
			<li>
				<a class="nav-link" asp-action="BingNews">新闻</a>
			</li>
			<li><a class="nav-link" asp-action="DevBlogs">官方博客</a></li>
		</ul>
	</div>
	<div class="col-md-auto">
		@RenderBody()
	</div>
</div>

