@{
	Layout = "_Layout";
	ViewData["Title"] = "资讯管理";

}
<div class="row">
	<div class="pull-left">
		<ul class="nav nav-stacked">
			<li>
				<a asp-action="BingNews">新闻</a>
			</li>
			<li><a asp-action="DevBlogs">官方博客</a></li>
		</ul>
	</div>
	<div class="col-md-8">
		@RenderBody()
	</div>
</div>

