@{
    Layout = "_Layout";
    ViewData["Title"] = "文章管理";

}
<div class="row">
    <div class="col col-md-auto">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"> 
                <a class="nav-link" asp-action="Index">文章列表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Write">添加文章</a>
            </li>
            @*<li><a asp-action="devblog">博客</a></li>*@

        </ul>
    </div>
    <div class="col col-md">
        @RenderBody()
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false) 

}

