@using System.Collections
@{
    ViewData["Title"] = "首页";
}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                新增
            </div>
            <ul class="nav nav-pills card-text flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Article" asp-action="Write">博客</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Video" asp-action="AddVideo">视频</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Config" asp-action="Catalog">目录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Resource" asp-action="Download">下载</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Resource" asp-action="Document">文档</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header">查看</div>
            <ul class="nav nav-pills card-text flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="News" asp-action="BingNews">资讯</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="News" asp-action="DevBlogs">官方博客</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Article" asp-action="Index">文章</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Video" asp-action="Index">视频</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Resource" asp-action="Download">下载</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Resource" asp-action="Document">文档</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header">管理</div>
            <ul class="nav nav-pills card-text flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Task" asp-action="Index">任务</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Config" asp-action="Config">配置</a>
                </li>
            </ul>
        </div>

    </div>
</div>
