@using System.Collections
@{
	ViewData["Title"] = "首页";
}


<section name="TaskNav" class="col-md-6">
	<h4>TaskEnv</h4>
	<ul>
		@{
			foreach (ValueTuple<string, string> values in (List<ValueTuple<string, string>>)ViewBag.TaskEnv)
			{
			<li>
				<p>
					<span class="text-primary">
						@values.Item1 :
					</span>
					<span>@values.Item2</span>
				</p>

			</li>
			}
		}
	</ul>
</section>

<section name="TaskNav" class="col-md-6">
	<h4>HostEnv</h4>
	@ViewBag.Con
	<ul>
		<li>
			<p>
				<span>数据库:</span>
				<span>@ViewBag.HostEnv</span>
			</p>
		</li>
	</ul>
</section>