@using MSDev.DB.Models
@model WebAdmin.FormModels.Catalog.CatalogForm

@{
	ViewBag.Title = "资源目录";
	Layout = "_PageLayout";
}
@section LeftNav
{
	@Html.Partial("_LeftNav");
}

<h3>资源目录</h3>

<form asp-action="AddCatalog" class="form-inline">
	<div class="form-group">
		<select asp-for="Type" class="form-control">
			<option value="download">下载</option>
		</select>
		
		<!--查询获取顶级分类-->
		<select asp-for="TopCatalog" class="form-control">
			<option value="">选择主目录</option>
			@{
				foreach (Catalog catalog in (List<Catalog>) ViewBag.TopCatalogs)
				{
					<option value="@catalog.Id">@catalog.Name</option>
				}
			}
		</select>

		<input asp-for="Name" class="form-control" placeholder="显示名称"/>
		<input asp-for="Value" class="form-control" placeholder="标识值"/>
		<button type="submit" class="btn btn-sm btn-primary">添加</button>
	</div>

</form>
