@using System.Diagnostics
@using MSDev.DB.Entities
@model MSDev.DB.Entities.Catalog

@{
    ViewBag.Title = "编辑目录";
    Layout = "_PageLayout";
}
@section LeftNav
    {
    @Html.Partial("_LeftNav");
}

<h4>编辑目录</h4>
<!--编辑目录表彰-->
<form asp-action="UpdateCatalog" class="col-md-6">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <input asp-for="Type" type="hidden" />
        <input asp-for="TopCatalog" type="hidden" />
        <input type="hidden" asp-for="TopCatalogId" />
        <input type="hidden" asp-for="IsTop" />
        <input type="hidden" asp-for="CreatedTime" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label>显示名称:</label>
            <input asp-for="Name" class="form-control" placeholder="显示名称" />
        </div>
        <div class="form-group">
            <label>标识值:</label>
            <input asp-for="Value" class="form-control" placeholder="标识值" />
        </div>
        <div class="form-group">
            @{ var topCatalogName = Model.TopCatalog?.Name ?? "无";}
            上级菜单：@topCatalogName
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary">修改</button>

        </div>
    </div>
</form>
<hr />

@section Scripts{
    <script>
        $(document).ready(function () {
            freshTopSelect();
            $("#Type").change(function () {
                freshTopSelect();
            });
        });

        function freshTopSelect() {
            var type = $("#Type").val();
            $("#TopCatalog>option").each(function (index, data) {
                if ($(this).data("type") === type) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    </script>
}