<ul class="nav nav-pills flex-column">
	<li>
		<a class="nav-link" asp-action="Download">下载</a>
	</li>
	<li>
        <a class="nav-link" asp-action="Document">文档</a>

	</li>
    <li>
        <a class="nav-link" asp-action="Project">开源项目</a>

    </li>
</ul>