@model MSDev.DB.Entities.Practice
@{
    Layout = "_LeftNav";
}
<h3 class="text-danger">是否确认删除以下内容?</h3>
<div>
    <p>
        <strong>标题:</strong>
        @Model.Title
    </p>
    <p style="max-width:800px;">
        <strong>内容:</strong>
        @Model.Content
    </p>
    <p>
        <strong>状态:</strong>
        @Model.Status
    </p>
    <p>
        <strong>创建时间:</strong>
        @Model.CreatedTime
    </p>

</div>


<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="删除" class="btn btn-danger" /> |
    <a asp-action="Index">返回列表</a>
</form>
