@{
    Layout = "_Layout";
    ViewData["Title"] = "视频管理";

}
<div class="row">
    <div class="col col-md-auto">
        <ul class="nav nav-pills flex-column">
            <li>
                <a class="nav-link" asp-action="AddVideo">添加视频</a>
            </li>
            <li>
                <a class="nav-link" asp-action="Index">教学视频</a>
            </li>
            <li>
                <a class="nav-link" asp-action="MvaVideo">Mva视频</a>
            </li>
        </ul>
    </div>
    <div class="col">
        @RenderBody()
    </div>
</div>

